.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 2em;
  font-weight: 600;
  color: #61dafb;
  background-color: #1a1c1f;
  align-items: center;
}

.App-main {
  padding-top: 20px;
  color: white;
  justify-content: center;
  text-align: left;
  margin-left: 10px;
  font-size: 1em;
  font-weight: 500;
}

.App-main ul {
  list-style: none;
}

.App-main ul li::before {
  content: "\2022";
  color: #61dafb;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

